.nav-item{
    padding-left: 35px;
}
.cover_img{
    background-size: cover;
    width: 119rem;
    height: 30rem;
}
.text_price{
    margin-top: -15px;
}
.row_content .col_content{
    padding: 80px;
}
li{
    margin-top: 15px;
}
.map{
    width: 400px;
    height: 200px;
}
.foter_link{
    text-decoration: none;
    color: white;   
}
.ct-text{
    margin-top: 10px;
}
.contact-pic{
    width: 500px;   
    height: 500px;
}
.ct-form{
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid;
}
.contact_wrap_form{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.about_pic{
    width: 500px;
    height: 500px;
    border-radius: 5%;
}
.about_section{
    padding-top: 150px;
    padding-bottom: 170px;
}
.readmore {
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.2), 
    0 0 20px rgba(0, 0, 0, 0.1), 
    0 0 30px rgba(0, 0, 0, 0.05);
}
.bg_about_us{
    background-color: red;
}  
.About_us_title{
    font-weight: bold;
    font-size: 30px;
}
.text-box{
    font-weight: bold;
}
.box-wrap{
    border: 2px solid;
}
.sugesstion-text{
    border-bottom: 2px solid;
    width: 80%;
    margin-left: 150px;
}    
.wrap-payment-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
